---
layout: default
---

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header" onclick="bringTop()">
        <h1><div id="topButton"><strong>{{ site.header.title }}</strong> {{ site.header.subtitle }}</div></h1>
        <nav>
            <ul>                
                <li><a href="#about">Contact</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <div id="main">
        {% for image in site.static_files %}
        {% if image.path contains 'fulls' %}
        <article class="thumb">
            <a href="{{ site.baseurl }}{{ site.image_fulls_loc }}/{{ image.name }}" class="image">
                <img src="{{ site.baseurl }}{{ site.image_thumbs_loc }}/{{ image.name }}" alt=""
                     data-name="{{ image.name }}"/></a>
            <!--<h2></h2>
            <p></p>-->
        </article>
        {% endif %}
        {% endfor %}
    </div>

    <!-- Footer -->
    <footer id="about" class="panel">
        <div class="inner split">
            <!--Introduction Section-->
            <div>
                <section>
                    <h2>{{ site.footer.name }}</h2>
                    <p>{{ site.footer.bio }}</p>
                    <p>{{ site.footer.github }}</p>
                </section>
            </div>
            <!--Inquire Section-->
            <div>
                <section>
                    <h2>Inquire</h2>
                    
                    <!--Uses Google Forms to collect responses-->
                    <form name="gform" id="gform" enctype="text/plain" action="https://docs.google.com/forms/d/e/1FAIpQLSfDqWEApAkHPJYviLjpiN8yWx-mHq-TyOJvNuYdkjLCBHSZ6g/formResponse?" target="hidden_iframe" onsubmit="submitted=true;">
                      Contact Email:<br>
                      <input type="text" name="entry.400693599" id="entry.400693599"><br>
                      Message:<br>
                      <textarea rows="4" name="entry.1106393515" id="entry.1106393515"></textarea><br>
                      <input type="submit" value="Submit"><br>
                    </form>

                    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {}"></iframe>
               
                    <script src="assets/js/jquery.min.js"></script>
                    <script type="text/javascript">var submitted=false;</script>
                    <script type="text/javascript">
                    $('#gform').on('submit', function(e) {
                      $('#gform *').fadeOut(2000);
                      $('#gform').prepend('Your submission has been processed...');
                      });
                    </script>
                </section>
            </div>
        </div>
    </footer>
</div>
